/*  your css code here. If applicable */
.grid-container > div{
	width:30vw;
	height:10vh;
	background-color:#f2f2f2;
	border:1px solid #ccc;
	
}
.grid-container{
	display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
	text-align:center;
}
